body {
  background-color: lightblue;
}
header {
  background-color: lightblue;
}
header h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
}

#nav {
  background-color: white;
  height: 200px;
  list-style: none;
  display: flex;
}

#nav li {
  margin: 0px 25px;
}

#nav a {
  text-decoration: none;
  color: black;
}

section.first {
  display: flex;
  background-color: lightblue;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 4px;
}

section.first h2 {
  margin-left: 2rem;
}

section.second {
  display: flex;
  justify-content: flex-end;
  background-color: lightblue;
}

section.second h2 {
  margin-right: 2rem;
}

article.first {
  padding: 1rem;
  text-align: justify;
  background: white;
  color: black;
  clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
  padding: 5rem;
}

article.second {
  padding: 1rem;
  text-align: justify;
  background-color: lightgray;
  background: white;
  color: black;
  clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
  padding: 5rem;
}

article h3 {
  text-align: center;
  margin-top: 0;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  background-color: white;
  bottom: 0;
  height: 6rem;
  margin-top: 4rem;
}
